<div *ngIf="progress > 0 && progress < 100">
  <div class="progress-bar" [style.width.%]="progress" ></div>
</div>
<mat-card class="card-size m-10"
            appearance="outlined">
    <mat-card-header>
      <mat-card-title class="!text-3xl">
        {{ task?.title! }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="!pt-4">
      <p>{{ task?.content! }}</p>
    </mat-card-content>
</mat-card>
<div class="flex justify-end pt-3 pr-11 pb-3">
<button mat-stroked-button
        class="!text-black"
        (click)="goBack()">
  BACK
</button>
</div>




