<app-bar />

<div class="flex p-6 gap-5 items-center flex-wrap ">
  <div routerLink="create-note" routerLinkActive="active">
    <mat-card class="!h-[140px] !w-[140px] hover:bg-emerald-50
    justify-center text-center !text-gray-500
    !text-2xl cursor-pointer select-none"
              appearance="outlined">
        +
    </mat-card>
  </div>
  @for(task of taskArray; track task._id) {
  <mat-card class="h-[160px] w-[300px]
                     !bg-blue-50
                     hover:bg-gray-200" appearance="outlined">
    <div class="cursor-pointer hover:underline"
         (click)="onCardClick(task._id)">
      <mat-card-header>
        <mat-card-title>
  {{ task.title }}
  </mat-card-title>
</mat-card-header>
  <mat-card-content>
    <p>{{ task.formattedDate | date: 'medium' }}</p>
          </mat-card-content>
      </div>
      <mat-card-footer class="flex justify-end pr-2">
        <mat-chip-set aria-label="Chihuahua traits">
          <mat-chip class="!w-[50px] !h-[36px]">
            <mat-icon fontIcon="border_color"
                      class="text-gray-600 pt-2"
                      (click)="onEditClick(task._id)"/>
          </mat-chip>
          <mat-chip class="!w-[50px] !h-[36px]">
            <mat-icon fontIcon="delete"
                      class="text-gray-600 pt-2"
                      (click)="taskService.removeTask(task)"/>
          </mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  } @empty {
  <div *ngIf="isLoading" class="text-center">
    Please wait, we are loading your tasks
  </div>
    <div class="lds-facebook"><div></div><div></div><div></div></div>
  }
</div>


