<form class="grid !p-4">
  <mat-form-field appearance="outline">
    <mat-label>Input Title</mat-label>
    <input #txtTitle name="title" type="text"
           matInput
           [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Enter Note Here</mat-label>
    <textarea #txtArea name="content"
              matInput
              class="text-area-size"
              [(ngModel)]="content">
    </textarea>
  </mat-form-field>
  <div class="flex justify-end gap-2">
    <button mat-stroked-button class="!text-black" (click)="goBack()">BACK</button>
    <button mat-flat-button (click)="saveOrUpdateNote(txtTitle, txtArea)">
        {{ isUpdateMode ? 'UPDATE' : 'SAVE' }}
    </button>
  </div>
</form>
